
  <div class="row">
    <div class="col s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{period1.nom}}</span>
          <input type= "button"value="{{period1.listeDeMat[0].name}}">
          <input type= "button"value="{{period1.listeDeMat[1].name}}">
        </div>
        <div class="card-action">
          <a href="#">nombre totale d'heures :</a>
          
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Période 2</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">nombre totale d'heures :</a>
        </div>
      </div>
    </div>
    <app-edttable></app-edttable>
  </div>
          
