<div class="col s12 m4">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text ">
      <span class="card-title">Liste des </span>     
      <div><div>
        <th>{{edt.ListeDesModu[0].name}}</th>
        <div>
        <input type= "button"value="{{edt.ListedesMats[0].name}}">
        <input type= "button"value="{{edt.ListedesMats[1].name}}">
        </div>
      </div>
    </div>
  </div>
    <div class="card-action">
      <a href="#">This is a link</a>
      <a href="#">This is a link</a>
    </div>
  </div>
</div>